In [1]:
import sys
#pip3 uninstall -y ir_datasets
sys.path.append("/workspaces/trec-bench/trec25/ir_datasets")

import pyterrier as pt
from pathlib import Path
from ir_measures import Recall, nDCG, RR

def load_run(directory):
    return pt.transformer.get_transformer(pt.io.read_results(Path(directory) / "run.txt.gz"))

In [6]:
def experiment(dataset_split):
    topics = pt.datasets.get_dataset(f"irds:trec-tot/2025/{dataset_split}").get_topics()
    qrels = pt.datasets.get_dataset(f"irds:trec-tot/2025/{dataset_split}").get_qrels()
    bm25_anserini = load_run(f'../anserini-bm25-retrieval/runs/{dataset_split}/')
    bm25_pyterrier = load_run(f'../pyterrier-bm25-retrieval/runs/bm25/{dataset_split}/')
    bert_dense = load_run(f'../lightning-dense-retrieval/runs/{dataset_split}')

    runs = [
        bm25_anserini,
        bm25_pyterrier,
        bert_dense,
        bm25_anserini^bm25_pyterrier,
        bm25_anserini^bm25_pyterrier^bert_dense,
    ]
    return pt.Experiment(runs, names=["BM25 (Anserini)", "BM25 (PyTerrier)", "Dense Retrieval (lightning-ir)", "BM25 (Anserini^PyTerrier)", "All"], topics=topics, qrels=qrels, eval_metrics=[nDCG@10, nDCG@1000, RR@1000, Recall@10, Recall@1000, Recall@1000, Recall@10000])

In [7]:
experiment("train")

,name,nDCG@10,nDCG@1000,RR@1000,R@10,R@1000,R@10000
0,BM25 (Anserini),0.021895,0.055211,0.021766,0.027972,0.279720,0.279720
1,BM25 (PyTerrier),0.064874,0.115279,0.057098,0.104895,0.454545,0.454545
2,Dense Retrieval (lightning-ir),0.317701,0.372791,0.291423,0.426573,0.755245,0.755245
3,BM25 (Anserini^PyTerrier),0.021895,0.055211,0.021766,0.027972,0.279720,0.475524
4,All,0.021895,0.055211,0.021766,0.027972,0.279720,0.881119

In [9]:
experiment("dev1")

,name,nDCG@10,nDCG@1000,RR@1000,R@10,R@1000,R@10000
0,BM25 (Anserini),0.030516,0.057501,0.029978,0.042254,0.218310,0.218310
1,BM25 (PyTerrier),0.083584,0.133527,0.081144,0.105634,0.450704,0.450704
2,Dense Retrieval (lightning-ir),0.323625,0.381495,0.302904,0.415493,0.760563,0.760563
3,BM25 (Anserini^PyTerrier),0.030516,0.057501,0.029978,0.042254,0.218310,0.443662
4,All,0.030516,0.057501,0.029978,0.042254,0.218310,0.802817

In [11]:
experiment("dev2")

,name,nDCG@10,nDCG@1000,RR@1000,R@10,R@1000,R@10000
0,BM25 (Anserini),0.042998,0.072473,0.041643,0.055944,0.251748,0.251748
1,BM25 (PyTerrier),0.099429,0.142733,0.087480,0.146853,0.454545,0.454545
2,Dense Retrieval (lightning-ir),0.019703,0.050064,0.017915,0.034965,0.244755,0.244755
3,BM25 (Anserini^PyTerrier),0.042998,0.072473,0.041643,0.055944,0.251748,0.426573
4,All,0.042998,0.072473,0.041643,0.055944,0.251748,0.524476

In [13]:
experiment("dev3")

,name,nDCG@10,nDCG@1000,RR@1000,R@10,R@1000,R@10000
0,BM25 (Anserini),0.092326,0.142904,0.084755,0.134328,0.470149,0.470149
1,BM25 (PyTerrier),0.336590,0.391737,0.312929,0.434701,0.770522,0.770522
2,Dense Retrieval (lightning-ir),0.013700,0.035375,0.012395,0.024254,0.173507,0.173507
3,BM25 (Anserini^PyTerrier),0.092326,0.142904,0.084755,0.134328,0.470149,0.776119
4,All,0.092326,0.142904,0.084755,0.134328,0.470149,0.798507